
{%  if (delimiter) %}
    {% set limiter = delimiter|raw %}
{% else %}
    {% set limiter = ', ' %}
{% endif%}


{%  if data %}
    <div class="res-property">
        {% if icon %}
            <i class="material-icons">{{ icon }}</i>
        {% endif%}

        {% if label %}
            <span class="res-prop-label">{{ label|trans }}:</span>
        {% endif%}
        {% apply spaceless %}
        <span class="res-prop-value">
            {% if data is iterable %}
                {% for value in data %}
                    {% if value is iterable %}
                        {% for v in value %}
                            {% if v.value %} 
                                {% if (v.type == 'ID') %}
                                    {% if (v.title and v.repoid )  %}
                                        <a id='archeHref' href="/browser/metadata/{{ v.repoid }}" target="_blank">{{ v.title|nl2br }}</a>
                                    {% elseif (v.value and v.repoid )  %}                            
                                        <a id='archeHref' href="/browser/metadata/{{ v.repoid }}" target="_blank">{{ v.value|nl2br}}</a>
                                    {% elseif (v.relvalue and v.repoid )  %}                            
                                        <a id='archeHref' href="/browser/metadata/{{ v.repoid }}" target="_blank">{{ v.relvalue|nl2br }}</a>
                                    {% elseif (v.value) %}
                                        <!-- if we dont have a repoid then some ingestion problem, so we will just display simple value -->
                                        <a href="{{ v.value }}" target="_blank">{{ v.value|nl2br }}</a>
                                    {% endif %}
                                    {% if not loop.last %}<span>{{ limiter|raw }}</span>{% endif %}
                                {% elseif(v.type == 'REL') %}
                                    <!-- The ARCHE RELATIONS will open in the same window -->
                                    {% if (v.title and v.repoid )  %}
                                        <a id='archeHref' href="/browser/metadata/{{ v.repoid }}" >{{ v.title|nl2br }}</a>
                                    {% elseif (v.value and v.repoid )  %}
                                        <a id='archeHref' href="/browser/metadata/{{ v.repoid }}" >{{ v.value|trim }}</a>
                                    {% elseif (v.relvalue and v.repoid )  %}
                                        <a id='archeHref' href="/browser/metadata/{{ v.repoid }}" >{{ v.relvalue|nl2br }}</a>
                                    {% elseif (v.value) %}
                                        <!-- if we dont have a repoid then some ingestion problem, so we will just display simple value -->
                                        <a id='archeHref' href="/browser/metadata/{{ v.value }}" >{{ v.value|nl2br }}</a>
                                    {% elseif (v.repoid) %}
                                        <a id='archeHref' href="/browser/metadata/{{ v.repoid }}" >{{ v.repoid|nl2br }}</a>
                                    {% endif %}
                                    {% if not loop.last %}<span>{{ limiter|raw }}</span>{% endif %}
                                {% elseif( (v.type == 'URI') or (v.type == 'http://www.w3.org/2001/XMLSchema#anyURI') ) %}                                  
                                    {% if (v.value)  %}
                                        <a href="{{ v.value }}" target="_blank">{{ v.value|nl2br }}</a>
                                    {% elseif (v.title) %}   
                                        <a href="{{ v.title }}" target="_blank">{{ v.title|nl2br }}</a>
                                    {% elseif (v.relvalue)  %}
                                        <a href="{{ v.relvalue }}" target="_blank">{{ v.relvalue|nl2br }}</a>
                                    {% endif %}
                                    {% if not loop.last %}<span>{{ limiter|raw }}</span>{% endif %}
                                {% elseif(type == 'binary') %}
                                    {% if(v.value == 0) %}
                                        {{ v.value }} KB
                                    {% else %}
                                        {% set bytes =  v.value %}
                                        {% set kiloBytes = (bytes / 1024)|round(2) %}
                                        {% set megaBytes = (kiloBytes / 1024)|round(2) %}
                                        {% set gigaBytes = (megaBytes / 1024)|round(2) %}
                                        {% if (gigaBytes) > 0  %}
                                            {{ gigaBytes }} GB
                                        {% elseif (megaBytes) > 0  %}
                                            {{ megaBytes }} MB
                                        {% elseif (kiloBytes) > 0  %}
                                            {{ kiloBytes }} KB
                                        {% endif%}    
                                    {% endif%}
                                {% elseif(v.type == 'http://www.w3.org/2001/XMLSchema#string') %}
                                    {% if(type == 'email' or v.value matches '/^[\w\.\-]+@[a-zA-Z_]+?\.[a-zA-Z]{2,6}$/' or v.title matches '/^[\w\.\-]+@[a-zA-Z_]+?\.[a-zA-Z]{2,6}$/' ) %}
                                        {% if (v.title) %} 
                                            {{ v.title|replace({'@': '(at)'}) }}
                                        {% elseif (v.value) %} 
                                            {{ v.value|replace({'@': '(at)'}) }}
                                        {% elseif (v.relvalue) %}     
                                            {{ v.relvalue|replace({'@': '(at)'}) }}
                                        {% endif %}
                                        {% if not loop.last %}<span>{{ limiter|raw }}</span>{% endif %}
                                    {% else %}
                                        {% if (v.title) %} 
                                            <span>{{ v.title|nl2br }}</span>
                                        {% elseif (v.value) %} 
                                            <span>{{ v.value|nl2br }}</span>
                                        {% elseif (v.relvalue) %}
                                            <span>{{ v.relvalue|nl2br }}</span>
                                        {% endif %}
                                        {% if not loop.last %}<span>{{ limiter|raw }}</span>{% endif %}
                                    {% endif %}
                                {% elseif(type == 'date' and dateformat) %}
                                    {{ include(arche_core_gui_path ~ '/templates/helper/helper-date.html.twig', 
                                {'value': v,  'dateformat': dateformat } ) }}
                                {% else %}
                                    {% if (v.value) is not empty %}
                                        <span>{{ v.value|nl2br }}</span>
                                    {% elseif (v.title) is not empty %}
                                        <span>{{ v.title|nl2br }}</span>
                                    {% elseif (v.relvalue) is not empty %}
                                        <span>{{ v.relvalue|nl2br }}</span>
                                    {% endif %}
                                    {% if not loop.last %}<span>{{ limiter|raw }}</span>{% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}    
                    {% endif %}   

                  
                    {% if(value.type == 'REL') %}
                        {% if (value.title and value.repoid )  %}
                            <a id='archeHref' href="/browser/metadata/{{ value.repoid }}" >{{ value.title|nl2br }}</a>
                        {% elseif (value.value and value.repoid )  %}
                            <a id='archeHref' href="/browser/metadata/{{ value.repoid }}" >{{ value.value|trim }}</a>
                        {% elseif (value.relvalue and value.repoid )  %}
                            <a id='archeHref' href="/browser/metadata/{{ value.repoid }}" >{{ value.relvalue|nl2br }}</a>
                        {% elseif (value.value) %}
                            <!-- if we dont have a repoid then some ingestion problem, so we will just display simple value -->
                            <a id='archeHref' href="/browser/metadata/{{ value.value }}" >{{ value.value|nl2br }}</a>
                        {% elseif (value.repoid) %}
                            <a id='archeHref' href="/browser/metadata/{{ value.repoid }}" >{{ value.repoid|nl2br }}</a>
                        {% endif %}
                    {% elseif( (value.type == 'URI') or (value.type == 'http://www.w3.org/2001/XMLSchema#anyURI') ) %}
                        {% if (value.value)  %}
                            <a href="{{ value.value }}" target="_blank">{{ value.value|nl2br }}</a>
                        {% elseif (value.title) %}   
                            <a href="{{ value.title }}" target="_blank">{{ value.title|nl2br }}</a>
                        {% elseif (value.relvalue)  %}
                            <a href="{{ value.relvalue }}" target="_blank">{{ value.relvalue|nl2br }}</a>
                        {% endif %}
                    {% elseif(type == 'binary') %}
                        {% if(value.value == 0) %}
                            {{ value.value }} KB
                        {% else %}
                            {% set bytes =  value.value %}
                            {% set kiloBytes = (bytes / 1024)|round(2) %}
                            {% set megaBytes = (kiloBytes / 1024)|round(2) %}
                            {% set gigaBytes = (megaBytes / 1024)|round(2) %}
                            {% if (gigaBytes) > 0  %}
                                {{ gigaBytes }} GB
                            {% elseif (megaBytes) > 0  %}
                                {{ megaBytes }} MB
                            {% elseif (kiloBytes) > 0  %}
                                {{ kiloBytes }} KB
                            {% endif%}    
                        {% endif%}
                    {% elseif(value.type == 'http://www.w3.org/2001/XMLSchema#string') %}
                        {% if(type == 'email') %}
                            {% if (value.title) %} 
                                {{ value.title|replace({'@': '(at)'}) }}
                            {% elseif (value.value) %} 
                                {{ value.value|replace({'@': '(at)'}) }}
                            {% elseif (value.relvalue) %}     
                                {{ value.relvalue|replace({'@': '(at)'}) }}
                            {% endif %}
                        {% elseif value.value matches '/@/' or value.title matches '/@/' %}
                            {% if (value.title) %} 
                                {{ value.title|replace({'@': '(at)'}) }}
                            {% elseif (value.value) %} 
                                {{ value.value|replace({'@': '(at)'}) }}
                            {% endif %}
                        {% else %}
                            {% if (value.title) %} 
                                <span>{{ value.title|nl2br }}</span>
                            {% elseif (value.value) %} 
                                <span>{{ value.value|nl2br }}</span>
                            {% elseif (value.relvalue) %}
                                <span>{{ value.relvalue|nl2br }}</span>
                            {% endif %}
                        {% endif %}
                    {% elseif(type == 'date' and dateformat) %}
                        {{ include(arche_core_gui_path ~ '/templates/helper/helper-date.html.twig', 
                                {'value': value,  'dateformat': dateformat } ) }}
                    {% else %}
                        {% if (value.value) is not empty %}
                            <span>{{ value.value|nl2br }}</span>
                        {% elseif (value.title) is not empty %}
                           <span>{{ value.title|nl2br }}</span>
                        {% elseif (value.relvalue) is not empty %}
                            <span>{{ value.relvalue|nl2br }}</span>
                        {% endif %}
                    {% endif %}
                    {% if not loop.last %}<span>{{ limiter|raw }}</span>{% endif %}
                {% endfor %}
            {% else %}
                {{ data }}
            {% endif %}
        </span>
        {% endapply %}
    </div>
{% endif%}
