
<input type="hidden" id="arche_url" value="{{ archeUrl }}"/>


<div class="col-12">
    <form class="d-flex" id="hero-smart-search-form">
        <div class="input-group">
            <input type="search" id="sm-hero-str" class="form-control hero-search-field" placeholder="{{ "Find resources"|trans }}..." aria-label="Search">
            <button class="smartsearch-btn btn hero-search-button" type="submit"><img class="img-fluid" src="{{ arche_theme_img_url }}/common/search_icon.png" alt="Search"  /></button>
        </div>
    </form>
</div>


<div class="card metadata smsMapCard">
    <div class="card-header">
        <div class="row">
            <div class="col-8"><h6>{{ "Map"|trans }}</h6></div>
            <div class="col-2 tooltop-icon-div"><img src="{{arche_tooltip_ico}}" class="tooltip-icon"></div>
            <div class="col-2 text-end ">
                <a class="btn btn-link mdr-card-collapse-btn" data-bs-toggle="collapse" data-bs-target="#smsMapBody">
                    <i class="fa fa-solid fa-chevron-up"></i>
                </a>
            </div>
        </div>
    </div>
    <div id="smsMapBody" class="collapse show">
        <div class="card-body meta-sidebar flex-column">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 mt-2">
                        <button type="button" class="btn btn-arche-blue w-100" id="mapToggleBtn">{{ "Map"|trans }}</button>
                        <div class="arche-sms-popup"  id="mapContainer" style="display: none;">
                            {{ include(arche_core_gui_path ~ '/templates/smartsearch/map.html.twig' ) }}
                        </div>
                        <div id="bboxMap"></div>
                    </div>
                </div>
            </div>    
        </div>
    </div>        
</div>


<div id="facets"></div>

<div class="card metadata extendedSearchCard">
    <div class="card-header">
        <div class="row">
            <div class="col-8"><h6>{{ "Extended Search"|trans }}</h6></div>
            <div class="col-2 tooltop-icon-div"><img src="{{arche_tooltip_ico}}" class="tooltip-icon"></div>
            <div class="col-2 text-end ">
                <a class="btn btn-link mdr-card-collapse-btn" data-bs-toggle="collapse" data-bs-target="#extendedSearchBody">
                    <i class="fa fa-solid fa-chevron-up"></i>
                </a>
            </div>
        </div>
    </div>
    <div id="extendedSearchBody" class="collapse show">
        <div class="card-body meta-sidebar flex-column">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 mt-2">
                        <form class="row gy-2 gx-3 align-items-center" id="smartsearch-left">

                            <div class="col-lg-12">
                                <div class="form-outline">
                                    <input class="form-check-input ml-2" type="checkbox" id="inBinary">&nbsp;
                                    <label class="form-check-label mr-2" for="inBinary">{{ "Search in binary content"|trans }}</label>

                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-outline">
                                    <input class="form-check-input ml-2" type="checkbox" id="linkNamedEntities">&nbsp;
                                    <label class="form-check-label ml-2" for="followNamedEntities">{{ "Follow named entities"|trans }}</label>

                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-outline">
                                    <input class="form-check-input ml-2" type="checkbox"  id="searchInChb">&nbsp;
                                    <label class="form-check-label ml-2" for="searchInChb">{{ "Search only in"|trans }}</label>

                                </div>
                            </div>       

                        </form>
                    </div>

                    <div class="col-12 mt-2">
                        <div class="arche_search_toggle_div" id="extendedSearch">

                            <!--<div>
                                <h4 class="mt-3">{{ "Spatial area"|trans }}</h4>
                                <div>
                                    <select class="" id="spatialSelect">
                                        <option value="">{{ "No filter"|trans }}</option>
                                    </select>
                                </div>
                                <div class="mt-2">
                                    <select class="form-control" id="spatialSource">
                                        <option value="arche">{{ "In ARCHE"|trans }}</option>
                                        <option value="geonames">{{ "In Geonames"|trans }}</option>
                                    </select>
                                </div>    
                            </div>-->

                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>


<div id="dateFacets"></div>

<div class="col-12 mt-2">
    <form class="form-inline">
        <button type="button" class="btn btn-arche-blue w-100 resetSmartSearch" >{{ "Reset filters"|trans }}</button>
    </form>
</div>

<!-- 
                   <div class="col-12 mt-2">
                       <button type="button" class="btn btn-info searchOnlyInBtn w-100 d-none" onclick="jQuery('#searchIn').toggle();">{{ "Search only in"|trans }}</button>
                       <div class="arche_search_toggle_div" id="searchIn">
                           <div id="searchInInside"></div>
                       </div>
                   </div>
                   
                   <div class="col-lg-12 mt-2">
                       <div class="form-outline">
                           <input class="form-check-input ml-2" type="checkbox" id="searchInChb" checked="checked">&nbsp;
                           <label class="form-check-label mr-2" for="searchInChb">{{ "Search only in"|trans }}</label>
                       </div>
                   </div>
-->
