<div class="card metadata">
    <div class="card-header">
        <div class="row justify-content-center align-items-center">
            <div class="col-10"><h6 class="mb-0 pb-0">{{ "Download"|trans }}</h6></div>
            <!-- <div class="col-2"><img src="{{arche_tooltip_ico}}" class="tooltip-icon-cards"></div> -->
            <div class="col-2 text-end">
                <a class="btn btn-link mdr-card-collapse-btn" data-bs-toggle="collapse" data-bs-target="#downloadBody">
                    <i class="fa fa-solid fa-chevron-up"></i>
                </a>
            </div>
        </div>
    </div>
    <div id="downloadBody" class="collapse show">
        <div class="card-body meta-sidebar downloadcard">
            <div class="download-login-div">
                {% set isDownloadEnabled = true %}

                {% if cookie.archeLogin %}
                    {% set isDownloadEnabled = true %}
                {% endif %}

                {% if data.isPublic() == false and cookie.archeLogin is not defined %}
                    {% set isDownloadEnabled = false %}
                    <div class="row" id="download-restricted">
                        <div class="col-lg-12">
                            <div class="alert alert-warning">{{ "Resource is not public! Please login to download!"|trans }}</div>
                        </div>    
                    </div>
                {% endif %}

                <div class="row d-none" id="download-not-logged">
                    <div class="col-lg-12 pt-2"><a href="/api/user?redirect={{ data.getRepoGuiUrl() }}" class="btn btn-arche-blue" rel="nofollow">{{ "ARCHE Login"|trans }}</a></div>
                    <div class="col-lg-12 pt-2"><a href="/Shibboleth.sso/Login?target={{ data.getRepoGuiUrl() }}" class="btn btn-arche-blue" rel="nofollow">{{ "Federated Login"|trans }}</a></div>
                    <div class="col-lg-12"><hr></div>
                </div>


                <div class="row d-none" id="download-logged">
                    <div class="col-lg-12">
                        <div class="alert alert-success">
                            <div>
                                {{ "You are logged in as"|trans }}: <span id="user-logged-text"></span>
                            </div>
                            <div class="pt-2">
                                <div class="col-lg-12 gui-https-logout"><span class="btn btn-arche-blue httpd-logout-btn" >{{ "Logout"|trans }}</span></div>
                                <div class="col-lg-12 gui-shibboleth-logout"><!--<a href="https://weblogin.oeaw.ac.at/idp/profile/Logout" class="btn btn-arche-blue">{{ "Logout"|trans }}</a>--></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row d-none" id="download-not-authorized">
                <div class="col-lg-12">
                    <div class="alert alert-warning">
                        <div>
                            {{ "You are not authorized to download this data!"|trans }}<br><br>
                        </div>
                        <div>
                            {{ "You are logged in as"|trans }}: <span id="user-logged-not-auth-text"></span>
                        </div>
                        <div class="pt-2">
                            <div class="col-lg-12 gui-https-logout"><span class="btn btn-arche-blue httpd-logout-btn">{{ "Logout"|trans }}</span></div>
                            <div class="col-lg-12 gui-shibboleth-logout"><!-- <a href="https://weblogin.oeaw.ac.at/idp/profile/Logout" class="btn btn-arche-blue gui-shibboleth-logout-btn">{{ "Logout"|trans }}</a>--></div>                               
                        </div>   
                    </div>
                </div>
            </div>


            {% set resourceApiUrl = data.getRepoUrl()  %}


            <div class="row d-none" id="download-resource-section">

                {% if data.isBinary %}
                    <div class="col-lg-12 pt-2 pb-2"><a href="{{ resourceApiUrl }}" class="btn-arche-blue-sidebar" target="_blank">{{ "Download File"|trans }} <img src="{{ arche_dl_ico }}"/></a></div>

                {% endif  %}    
                {% if data.acdhType|lower == "collection" or data.acdhType|lower == "topcollection" %}
                    <!-- <a href="{{ data.getRepoBaseUrl }}dl_collection/{{ data.getRepoId }}" class="btn-arche-blue-sidebar" target="_blank">{{ "Download Collection"|trans }} <img src="{{ arche_dl_ico }}"/></a>-->
                    <div class="col-lg-12 pt-2 pb-2"><a href="{{ data.getRepoBaseUrl }}/dissemination/collection_download_script/{{ data.getRepoId }}" class="btn-arche-blue-sidebar" target="_blank">{{ "Download Collection Script"|trans }} <img src="{{ arche_dl_ico }}"/></a></div>
                        {% elseif data.acdhType|lower == "resource" %}
                        {% endif  %}

            </div>
            <div class="row" id="download-metadata-section">
                <div class="col-lg-12 pt-2 pb-2"><a href="{{ resourceApiUrl }}/metadata?format=text/turtle&readMode=relatives&parentProperty=https%3A%2F%2Fvocabs.acdh.oeaw.ac.at%2Fschema%23isPartOf" class="btn-arche-blue-sidebar" target="_blank">{{ "Download Metadata"|trans }} <img src="{{ arche_dl_ico }}"/></a>
                </div>
            </div>
                
           {% if get_arche_instance()|raw == 'dev' %}
                <div class="row" id="download-cart-section">
                    
                    <div class="col-lg-12 pt-2 pb-2">
                        <a href="" class="btn-arche-blue-sidebar" id="add-resource-cart">{{ "Add to cart"|trans }} <i class="fas fa-bookmark" style="color: #ffffff" id="iconToFly"></i> </a>
                        <a href="" class="btn-arche-blue-sidebar d-none" id="remove-resource-cart">{{ "Remove from cart"|trans }} <i class="fas fa-bookmark" style="color: #ffffff"></i> </a>
                    </div>
                </div>    
            {% endif  %}    
        </div>
    </div>
</div>

