<div class="card metadata">
    <div class="card-header">
        <div class="row justify-content-center align-items-center">
            <div class="col-10"><h6 class="mb-0 pb-0">{{ "Download"|trans }}</h6></div>
            <!-- <div class="col-2"><img src="{{arche_tooltip_ico}}" class="tooltip-icon-cards"></div> -->
            <div class="col-2 text-end">
                <a class="btn btn-link mdr-card-collapse-btn" data-bs-toggle="collapse" data-bs-target="#downloadBody">
                    <i class="fa fa-solid fa-chevron-up"></i>
                </a>
            </div>
        </div>
    </div>
    <div id="downloadBody" class="collapse show">
        <div class="card-body meta-sidebar downloadcard">
            <div class="download-login-div">
                {% set isDownloadEnabled = true %}

                {% if cookie.archeLogin %}
                    {% set isDownloadEnabled = true %}
                {% endif %}

                {% if data.isPublic() == false and cookie.archeLogin is not defined %}
                    {% set isDownloadEnabled = false %}
                    <div class="row" id="download-restricted">
                        <div class="col-lg-12">
                            <div class="alert alert-warning">{{ "Resource is not public! Please login to download!"|trans }}</div>
                        </div>    
                    </div>
                {% endif %}

                <div class="row d-none" id="download-not-logged">
                    <div class="col-lg-12 pt-2"><a href="/api/user?redirect={{ data.getRepoGuiUrl() }}" class="btn btn-arche-blue w-100">{{ "ARCHE Login"|trans }}</a></div>
                    <div class="col-lg-12 pt-2"><a href="/Shibboleth.sso/Login?target={{ data.getRepoGuiUrl() }}" class="btn btn-arche-blue w-100">{{ "Federated Login"|trans }}</a></div>
                    <div class="col-lg-12"><hr></div>
                </div>

                <div class="row d-none" id="download-logged">
                    <div class="col-lg-12">
                        <div class="alert alert-success">
                            <div>
                                {{ "You are logged in as"|trans }}: <span id="user-logged-text"></span>
                            </div>
                            <div class="pt-2">
                                {% if cookie.archeLogin %}
                                    <div class="col-lg-12"><a href="/api/user/logout?redirect={{ data.getRepoGuiUrl() }}" class="btn btn-arche-blue w-100">{{ "Logout"|trans }}</a></div>
                                {%  else %}
                                    <div class="col-lg-12"><a href="https://weblogin.oeaw.ac.at/idp/profile/Logout" class="btn btn-arche-blue w-100">{{ "Logout"|trans }}</a></div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row d-none" id="download-not-authorized">
                    <div class="col-lg-12">
                        <div class="alert alert-warning">
                            <div>
                                {{ "You are not authorized to download this data!"|trans }}<br><br>
                            </div>
                            <div>
                                {{ "You are logged in as"|trans }}: <span id="user-logged-not-auth-text"></span>
                            </div>
                           <div class="pt-2">
                                {% if cookie.archeLogin %}
                                    <div class="col-lg-12"><a href="/api/user/logout?redirect={{ data.getRepoGuiUrl() }}" class="btn btn-arche-blue w-100">{{ "Logout"|trans }}</a></div>
                                {%  else %}
                                    <div class="col-lg-12"><a href="https://weblogin.oeaw.ac.at/idp/profile/Logout" class="btn btn-arche-blue w-100">{{ "Logout"|trans }}</a></div>
                                {% endif %}
                            </div>   
                        </div>
                    </div>

                </div>


            </div>

            {% set resourceApiUrl = data.getRepoUrl()  %}

            <a href="{{ resourceApiUrl }}/metadata?format=text/turtle&readMode=relatives&parentProperty=https%3A%2F%2Fvocabs.acdh.oeaw.ac.at%2Fschema%23isPartOf" class="btn-arche-blue-sidebar" target="_blank">{{ "Download Metadata"|trans }} <img src="{{ arche_dl_ico }}"/></a>

            <div class="row d-none" id="download-resource-section">
                <div class="col-lg-12">
                    {% if data.acdhType|lower == "collection" or data.acdhType|lower == "topcollection" %}
                        <!-- <a href="{{ data.getRepoBaseUrl }}dl_collection/{{ data.getRepoId }}" class="btn-arche-blue-sidebar" target="_blank">{{ "Download Collection"|trans }} <img src="{{ arche_dl_ico }}"/></a>-->
                        <a href="{{ data.getRepoBaseUrl }}/dissemination/collection_download_script/{{ data.getRepoId }}" class="btn-arche-blue-sidebar" target="_blank">{{ "Download Collection Script"|trans }} <img src="{{ arche_dl_ico }}"/></a>
                        {% elseif data.acdhType|lower == "resource" %}

                        {% if data.isBinary %}
                            <a href="{{ resourceApiUrl }}" class="btn-arche-blue-sidebar" target="_blank">{{ "Download Binary"|trans }} <img src="{{ arche_dl_ico }}"/></a>
                            {% endif  %}
                        {% endif  %}    
                </div>
            </div>
        </div>
    </div>
</div>