
<div class="container pt-3">
    <div class="row">
        <div class="col-lg-12 metadata-expert text-end"  >
            <a class="ms-auto d-flex btn btn-arche-blue basic" href="#" id="expertViewBtn">{{ "Expert view"|trans }}</a>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-lg-9 metadata-main basic-content-div" >
            <div class="loader-overlay metadata-main-loader">
                <div class="loader"></div>
            </div>

            <div class="container-fluid" id="expertdt-container">
                <div class="row expert-dt-div">
                    <div class="col-lg-12">
                        {{ include(arche_core_gui_path ~ '/templates/metadata/expertview-dt.html.twig', {'result': data } ) }}
                    </div>
                </div>
            </div>

            <div class="container-fluid" id="meta-content-container">
                <!-- Available Date and type -->
                <div class="row">
                    <div class="col-6">

                    </div>
                    <div class="col-6 flex-gap-col flex-reverse mb-0" >
                        {% if data.getAcdhType %}
                            <!-- <img src="{{arche_tooltip_ico}}" class="tooltip-icon"> -->
                            <p class="btn-detail-type-gray no-btn" >{{ data.getAcdhType() }}</p> 
                        {% endif %}
                    </div>
                </div>

                <!-- Has newer version -->
                <div class="row">
                    <div class="col">
                        <div class="alert alert-danger d-flex align-items-center hidden-alert" role="alert" id="metadata-versions-alert">
                            <div>
                                {{ "The resource has a newer version!"|trans }} <a href="#" id="metadata-versions-alert-url">{{ "Click here for the newer version"|trans  }}</a>
                            </div>
                        </div>
                        <hr class="meatdata-view-top-hr">
                    </div>
                </div>
                <!-- Title -->
                <div class="row">
                    <div class="col-lg-12 " id="ad-hasTitle">
                        <h4 id="av-hasTitle">{{ data.getTitle() }}</h4>
                    </div>
                </div>

                {% if data.getData('acdh:hasAlternativeTitle')  %}
                    {{ include(arche_core_gui_path ~ '/templates/helper/helper-displayFields.html.twig', 
                    {'data': data.getData('acdh:hasAlternativeTitle'), 'label':  'Alternative Title' } ) }}
                {% endif %}    

                {% if data.getData('acdh:isMemberOf')  %}
                    {{ include(arche_core_gui_path ~ '/templates/helper/helper-displayFields.html.twig', 
                    {'data': data.getData('acdh:isMemberOf'), 'label':  'Member of' } ) }}
                {% endif %}    
                
                {% set propArr = ['acdh:hasAddressLine1', 'acdh:hasAddressLine2', 'acdh:hasPostcode',
                            'acdh:hasCity', 'acdh:hasRegion', 'acdh:hasCountry', 'acdh:hasEmail', 'acdh:hasUrl'] %}
                {% if data.getDataByPropertyList(propArr)  %}
                    <div class="row">
                        <div class="col-lg-12 ">
                            <h5>{{ "Contact Details"|trans }}</h5>
                        </div>
                        {{ include(arche_core_gui_path ~ '/templates/content-blocks/person-contact-details-block.html.twig', {'data': data.getDataByPropertyList(propArr) } ) }}
                    </div>
                {% endif %}  

                <div class="row hasmembers-table-div d-none pt-3 basic-inside-content-div">
                    <div class="col-lg-12 child-tree-div">
                        <h5 class="pb-2">{{ "Has members"|trans }}</h5>
                        <table class="hasmembers-table w-100  row-border" id="hasMembersDT">

                        </table>
                    </div>
                </div>
                
                <div class="loading-indicator text-center d-none">
                    <img src="/browser/themes/contrib/arche-theme-bs/images/arche_logo_flip_47px.gif" alt="Loading...">
                </div>
                
                <div class="row involved-table-div d-none pt-3 basic-inside-content-div">
                    <div class="col-lg-12 child-tree-div">
                        <h5 class="pb-2">{{ "Involved in"|trans }}</h5>
                        <table class="involved-table w-100  row-border" id="involvedDT">

                        </table>
                    </div>
                </div>



            </div>
        </div>

        <div class="col-lg-3 metadata-right" >
            <!-- 
            <div class="loader-overlay metadata-right-loader">
                <div class="loader"></div>
            </div>
            -->

            {{ include(arche_core_gui_path ~ '/templates/blocks/titleimage-block.html.twig' ) }}

            {% if data.getNonAcdhIdentifiers()  %}
                {{ include(arche_core_gui_path ~ '/templates/blocks/place-id-card-block.html.twig', {'data': data.getNonAcdhIdentifiers() } ) }}
            {% endif %} 


            {% if data  %}
                {{ include(arche_core_gui_path ~ '/templates/blocks/download-card-block.html.twig', {'data': data, 'cookie': cookie } ) }}    
            {% endif %}

            {% if data  %}

                {{ include(arche_core_gui_path ~ '/templates/blocks/view-share-card-block.html.twig', {'data': data } ) }} 

            {% endif %}

        </div>
    </div>
</div>
