<div class="col-lg-12 " id="av-summary">
    <ul>


        {% if data.getData('acdh:hasRelatedDiscipline') %}
            <li>{{ include(arche_core_gui_path ~ '/templates/helper/helper-displayFields.html.twig', 
                    {'data': data.getData('acdh:hasRelatedDiscipline'),  'label':  'Related Discipline(s)' } ) }}</li>
            {% endif %}
            {% if data.getData('acdh:hasSubject') %}
            <li>{{ include(arche_core_gui_path ~ '/templates/helper/helper-displayFields.html.twig', 
                    {'data': data.getData('acdh:hasSubject'), 'label':  'Subject(s)' } ) }}</li>
            {% endif %}
            {% if data.getData('acdh:hasSpatialCoverage') %}
            <li>{{ include(arche_core_gui_path ~ '/templates/helper/helper-displayFields.html.twig', 
                    {'data': data.getData('acdh:hasSpatialCoverage'), 'label':  'Spatial Coverage' } ) }}</li>
            {% endif %}



        {% if data.getData('acdh:hasCoverageStartDate') %}
            <li>{{ include(arche_core_gui_path ~ '/templates/helper/helper-displayFields.html.twig', 
                    {'data': data.getData('acdh:hasCoverageStartDate'), 'label':  'Coverage Start Date' } ) }}
            </li>
        {% endif %}

        {% if data.getData('acdh:hasCoverageEndDate') %}
            <li>
                {{ include(arche_core_gui_path ~ '/templates/helper/helper-displayFields.html.twig', 
                    {'data': data.getData('acdh:hasCoverageEndDate'), 'label':  'Coverage End Date' } ) }}
            </li>
        {% endif %}


        {% if data.getData('acdh:hasCreatedStartDateOriginal') %}
            <li>{{ include(arche_core_gui_path ~ '/templates/helper/helper-displayFields.html.twig', 
                    {'data': data.getData('acdh:hasCreatedStartDateOriginal'), 'label':  'Creation Date of Original' } ) }}</li>
            {% endif %}

        {% if data.getData('acdh:hasCreatedEndDateOriginal') %}
            <li>{{ include(arche_core_gui_path ~ '/templates/helper/helper-displayFields.html.twig', 
                    {'data': data.getData('acdh:hasCreatedEndDateOriginal'), 'label':  'Creation Date of Original' } ) }}</li>
            {% endif %}


        {% if data.getData('acdh:hasTemporalCoverage') %}
            <li>{{ include(arche_core_gui_path ~ '/templates/helper/helper-displayFields.html.twig', 
                    {'data': data.getData('acdh:hasTemporalCoverage'), 'label':  'Era' } ) }}</li>
            {% endif %}

        {% if data.getData('acdh:hasNote') %}

            <li>{{ include(arche_core_gui_path ~ '/templates/helper/helper-displayFields.html.twig', 
                    {'data': data.getData('acdh:hasNote'), 'label':  'Note' } ) }}</li>
            {% endif %}

    </ul>

    {% if data.getData('acdh:hasDescription') %}
        <div class="hasdescription-container">
            {{ data.getData('acdh:hasDescription')[0].value|nl2br }}
        </div>
        <div class="d-flex justify-content-center"> <!-- Flex container -->
            <button class="hasdescription-toggle-button btn btn-arche-blue mt-2">{{ "Show More"|trans }}</button>
        </div>

    {% endif %}

</div>


