<div class="col-lg-12 " id="av-summary">
    <ul>

        {% if data.getData('acdh:hasRelatedDiscipline') %}
            <li>{{ include(arche_core_gui_path ~ '/templates/helper/helper-displayFields.html.twig', 
                    {'data': data.getData('acdh:hasRelatedDiscipline'),  'label':  'Research Discipline' } ) }}</li>
            {% endif %} 
            {% if data.getData('acdh:hasSubject') %}
            <li>{{ include(arche_core_gui_path ~ '/templates/helper/helper-displayFields.html.twig', 
                    {'data': data.getData('acdh:hasSubject'), 'label':  'Subject' } ) }}</li>
            {% endif %}

        {% if data.getData('acdh:hasSpatialCoverage') %}
            <li>{{ include(arche_core_gui_path ~ '/templates/helper/helper-displayFields.html.twig', 
                    {'data': data.getData('acdh:hasSpatialCoverage'), 'label':  'Spatial Coverage' } ) }}</li>
            {% endif %}

        {% if data.getData('acdh:hasCoverageStartDate') and data.getData('acdh:hasCoverageEndDate') %}
            <li>
                <div class="res-property">
                    <span class="res-prop-label">{{ "Coverage Date"|trans }}:</span>
                    <span class="res-prop-value">

                        {% set startYear = "" %}
                        {% set endYear = "" %}
                        
                        {% if data.getData('acdh:hasCoverageStartDate')[0]['value'] %}
                            {% set startYear = data.getFormattedDateByProperty('acdh:hasCoverageStartDate') %}
                        {% endif %}
                        
                        {% if data.getData('acdh:hasCoverageEndDate')[0]['value'] %}
                            {% set endYear = data.getFormattedDateByProperty('acdh:hasCoverageEndDate') %}
                        {% endif %}
                        
                        {% if startYear and endYear %}
                            {% if startYear == endYear %}
                                {{ startYear }}
                            {% else %}
                                {{ startYear }}
                                - 
                                {{ endYear }}
                            {% endif %}
                        {% endif %}

                    </span>
                </div>

            </li>
        {% elseif data.getData('acdh:hasCoverageStartDate') %}
            <div class="res-property">
                <span class="res-prop-label">{{ "Coverage Date"|trans }}:</span>
                <span class="res-prop-value">
                    {{ data.getFormattedDateByProperty('acdh:hasCoverageStartDate')  }}
                </span>
            </div>
        {% elseif data.getData('acdh:hasCoverageEndDate') %}
            <div class="res-property">
                <span class="res-prop-label">{{ "Coverage Date"|trans }}:</span>
                <span class="res-prop-value">
                   data.getFormattedDateByProperty('acdh:hasCoverageEndDate') 
                </span>
            </div>
        {% endif %}

        {% if data.getData('acdh:hasCreatedStartDateOriginal') and data.getData('acdh:hasCreatedEndDateOriginal') %}
            <li>
                <div class="res-property">
                    <span class="res-prop-label">{{ "Creation Date of Original"|trans }}:</span>
                    <span class="res-prop-value">
                        {% set startYear = "" %}
                        {% set endYear = "" %}
                        
                        {% if data.getData('acdh:hasCreatedStartDateOriginal')[0]['value'] %}
                            {% set startYear = data.getFormattedDateByProperty('acdh:hasCreatedStartDateOriginal') %}
                        {% else %}
                            {% set startYear = data.getFormattedDateByProperty('acdh:hasCreatedStartDateOriginal') %}
                        {% endif %}
                        
                        {% if data.getData('acdh:hasCreatedEndDateOriginal')[0]['value'] %}
                            {% set endYear = data.getFormattedDateByProperty('acdh:hasCreatedEndDateOriginal') %}
                        {% else %}
                            {% set endYear = data.getFormattedDateByProperty('acdh:hasCreatedEndDateOriginal') %}
                        {% endif %}
                        
                        {% if startYear and endYear %}
                            {% if startYear == endYear %}
                                {{ startYear }}
                            {% else %}
                                {{ startYear }}
                                - 
                                {{ endYear }}
                            {% endif %}
                        {% endif %}
                    </span>
                </div>

            </li>
        {% elseif data.getData('acdh:hasCreatedStartDateOriginal') %}        
            <li>{{ include(arche_core_gui_path ~ '/templates/helper/helper-displayFields.html.twig', 
                    {'data': data.getData('acdh:hasCreatedStartDateOriginal'), 'label':  'Creation Date of Original', 'type': 'date','dateformat': 'Y' } ) }}</li>

        {% elseif data.getData('acdh:hasCreatedEndDateOriginal') %}   
            <li>{{ include(arche_core_gui_path ~ '/templates/helper/helper-displayFields.html.twig', 
                    {'data': data.getData('acdh:hasCreatedEndDateOriginal'), 'label':  'Creation Date of Original','type': 'date','dateformat': 'Y' } ) }}</li>
            {% endif %}

        {% if data.getData('acdh:hasTemporalCoverage') %}
            <li>{{ include(arche_core_gui_path ~ '/templates/helper/helper-displayFields.html.twig', 
                    {'data': data.getData('acdh:hasTemporalCoverage'), 'label':  'Era' } ) }}</li>
            {% endif %}
    </ul>

    {% if data.getData('acdh:hasDescription') %}
        <div class="hasdescription-container" >
            <p class="descriptionTextShort">{{ data.getData('acdh:hasDescription')[0].value|nl2br }}</p>
            <p class="descriptionTextLong" style="display: none;">{{ data.getData('acdh:hasDescription')[0].value|nl2br }} 
                <a class="hasdescription-toggle-button" id="descriptionTextLongBtn">{{ "Show Less"|t }}</a></p>

        </div>
    {% endif %}


    {% if data.getData('acdh:hasNote') %}
        <ul>

            <li>{{ include(arche_core_gui_path ~ '/templates/helper/helper-displayFields.html.twig', 
                    {'data': data.getData('acdh:hasNote'), 'label':  'Note' } ) }}</li>
        </ul>
    {% endif %}

</div>


