
{{ attach_library('arche_core_gui/cart') }}


<div class="container pt-3">
    <div class="row">
        <div class="col-lg-12 metadata-breadcrumb"> <h2>{{ "Saved records"|trans }}</h2></div>
    </div>
</div>
    
<div class="container mt-3">
    <div class="row basic-inside-content-div">
        <div class="col-lg-12 cart-content-div">
            <p>{{ "If you added a collection then the system will automatically download all of the resources of the given collection"|trans }}</p>

            <table class="table row-border table-striped w-100" id="cartTable">
                <thead>
                    <tr>
                        <th><input type="checkbox"/>&nbsp;{{ "Download all"|trans }}</th>
                        <th>{{ "Title"|trans }}</th>
                        <th>{{ "Size"|trans }}</th>          
                        <th>{{ "Access Right"|trans }}</th>
                        <th>{{ "Type"|trans }}</th>
                        <th>{{ "Status"|trans }}</th>
                        <th class="text-center">{{ "Download"|trans }}</th>
                        <th class="text-center">{{ "Delete"|trans }}</th>
                    </tr>
                </thead>
            </table>


        </div>
    </div>
    <iframe id="downloadFrame" style="display:none;"></iframe>
    <div class="row">

        <!-- 
        <td><a href="#" id="download_cart_content" class="btn btn-arche-blue">Download</a></td>
        
        <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
        
        -->

        <div class="col-lg-6 text-start mt-3">
            <a href="#" id="download_cart_content" class="btn btn-arche-blue">Download selected files</a>
        </div>
        <div class="col-lg-6 text-end  mt-3">
            <a href="#" id="download_cart_content" class="btn btn-arche-blue">Login to Download restricted files</a> 
            <br>
            <div class="">
                You already logged in as testuser (academic restriction).
            </div>

        </div>
    </div>
</div>            