{% set moduleDir = "{{ arche_core_gui_path }}" %}
{{ attach_library('arche_core_gui/smart-search') }}
<div class="container">
    <div class="row">
        <div class="col-lg-12 metadata-breadcrumb" >
            
        </div>

    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-lg-3 discover-left" >
            {{ include(arche_core_gui_path ~ '/templates/blocks/discover-smart-search.html.twig', {'data': data } ) }}
        </div>

        <div class="col-lg-9 discover-main " >

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 d-flex discover-top">
                        <div class="col-9 discover-top-toolbar">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle discover-dropdown-btn" type="button" id="prefLangDropDown" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ "Preferred Language"|trans  }}
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="prefLangDropDown">
                                    <li><a class="dropdown-item" href="#">{{ "English"|trans }}</a></li>
                                    <li><a class="dropdown-item" href="#">{{ "German"|trans }}</a></li>
                                </ul>
                            </div>
                            <input class="smartsearch-btn ms-auto d-flex btn btn-root-topbar-grey btn-root-topbar-grey-text" data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="{{ "Full text Search"|trans }}">
            
                            <img src="{{arche_tooltip_ico}}" class="tooltip-icon">

                            <a class="ms-auto d-flex btn btn-root-topbar-grey btn-root-topbar-grey-text" href="#" id="followEntitiesBtn">{{ "Follow entities"|trans }}</a> 
                            <img src="{{arche_tooltip_ico}}" class="tooltip-icon">
                        </div>
                        <div class="col-3">
                            <button type="button" class="ms-auto d-flex btn btn-arche-blue" id="mapToggleBtn">{{ "Map"|trans }}</button>
                            <div class="arche-sms-popup"  id="mapContainer" style="display: none;">
                                 {{ include(arche_core_gui_path ~ '/templates/smartsearch/map.html.twig' ) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid basic-content-div discover-content-main">

                <div class="row">

                    <table class="root-table table row-border" cellspacing="0" width="100%" id='rootDT'>

                        <tbody>
                        </tbody>
                    </table>

                </div>


            </div>
        </div>

    </div>
</div>
