{% set moduleDir = "{{ arche_core_gui_path }}" %}
<input type="hidden" value="{{ identifier }}" id="resId"/>
<div class="container">
    <div class="row">
        <div class="col-lg-9 metadata-breadcrumb" >
            HOME / COllection / SubCollection
        </div>
        <div class="col-lg-3 metadata-expert"  >
            <a class="ms-auto d-flex btn btn-arche-blue" href="#" id="expertView">{{ "Expert view"|trans }}</a>
            <a class="ms-auto d-flex btn btn-arche-blue" href="/browser/metadata/11213" id="archeHref">{{ "11213 test load"|trans }}</a>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-lg-9 metadata-main basic-content-div" >
            <div class="loader-overlay metadata-main-loader">
                <div class="loader"></div>
            </div>

            <div class="container-fluid" id="meta-content-container" style="display: none;">

                <!-- Available Date and type -->
                <div class="row">
                    <div class="col-lg-6" id="ad-hasAvailableDate">
                        <p id="av-hasAvailableDate">{{ "Available since"|trans }} </p>
                    </div>
                    <div class="col-lg-6 flex-gap-col flex-reverse" id="ad-rdfType">
                        <img src="{{arche_tooltip_ico}}" class="tooltip-icon"> 
                        <a href='#' class="btn btn-arche-grey" id="av-rdfType">{{ "Collection"|trans }}</a> 
                    </div>
                </div>

                <!-- Title -->
                <div class="row">
                    <div class="col-lg-12 " id="ad-hasTitle">
                        <hr style="color:#e1edf3;">
                        <h4 id="av-hasTitle"></h4>
                    </div>
                </div>
                <!-- CITE BLOCK -->
                <div class="row">
                    <div class="col-lg-12 ">
                        <h5>Ressource zitieren</h5>
                        <div class="basic-inside-content-div">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williams burg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamc atcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                                </div>
                                <div class="col-lg-12">
                                    <div class="container">
                                        <div class="row justify-content-end">
                                            <div class="col-auto">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Dropdown button
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-auto">
                                                <a href="#" class="ms-auto btn btn-arche-blue">{{ "Copy"|trans }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SUMMARY -->
                <div class="row">
                    <div class="col-lg-12 ">
                        <h5>{{ "Summary"|trans  }}</h5>
                    </div>
                    <div class="col-lg-12 ">
                        <p>
                        <ul>
                            <li>Fachdisziplin(en): Archäologie , Archäologische Prospektion</li>
                            <li>Betreff: römische Funde , römische Keramik , Siedlungsarchäologie</li>
                            <li>Geografische Abdeckung: Bad Deutsch-Altenburg , Niederösterreich , Österreich , Petronell-Carnuntum</li>
                            <li>Zeitliche Abdeckung Beginn: 50</li>
                            <li>Zeitliche Abdeckung Ende: 1700</li>
                        </ul>
                        Sed nec ornare tellus. Ut condimentum volutpat libero. Morbi non purus odio. Morbi consectetur ligula sit amet ipsum interdum, ut semper ex scelerisque. Ut lobortis cursus dolor. Phasellus sed fringilla metus, aliquet tempus ligula. Maecenas ut tellus diam. Cras lobortis porta ultricies.
                        <br> <br>
                        Etiam lacinia diam non risus pellentesque mattis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Suspendisse pellentesque id ligula quis placerat. Proin vulputate arcu vitae urna ultricies semper. Integer eu magna vel risus finibus fermentum. Nunc hendrerit lacinia malesuada. Maecenas luctus volutpat lobortis....Weiterlesen 
                        </p>
                    </div>
                </div>

                <!-- Child elements -->
                <div class="row basic-inside-content-div">
                    <div class="col-lg-12 ">
                        <h5>{{ "Child Resources"|trans }}</h5>
                    </div>
                    <div class="col-lg-12 ">
                        Child Resources table
                    </div>
                </div>


            </div>
        </div>
        <div class="col-lg-3 metadata-right" >
            <!-- 
            <div class="loader-overlay metadata-right-loader">
                <div class="loader"></div>
            </div>
           -->
          
                {{ include(arche_core_gui_path ~ '/templates/blocks/titleimage-block.html.twig', {'data': data } ) }}

                {{ include(arche_core_gui_path ~ '/templates/blocks/map-card-block.html.twig', {'data': data } ) }}

                    {{ include(arche_core_gui_path ~ '/templates/blocks/pid-card-block.html.twig', {'data': data } ) }}

                    {{ include(arche_core_gui_path ~ '/templates/blocks/licenses-card-block.html.twig', {'data': data } ) }}

                    {{ include(arche_core_gui_path ~ '/templates/blocks/source-card-block.html.twig', {'data': data } ) }}

                    {{ include(arche_core_gui_path ~ '/templates/blocks/download-card-block.html.twig', {'data': data } ) }}

                    {{ include(arche_core_gui_path ~ '/templates/blocks/view-share-card-block.html.twig', {'data': data } ) }}

                    {{ include(arche_core_gui_path ~ '/templates/blocks/versions-card-block.html.twig', {'data': data } ) }}
          </div>
    </div>
</div>
