{% set moduleDir = "{{ arche_core_gui_path }}" %}
{{ attach_library('arche_core_gui/smart-search') }}
<div class="container">
    <div class="row">
        <div class="col-lg-12 metadata-breadcrumb" >

        </div>

    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-lg-3 discover-left" >
            {{ include(arche_core_gui_path ~ '/templates/blocks/discover-smart-search.html.twig', {'data': data } ) }}
        </div>

        <div class="col-lg-9 discover-main " >

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 d-flex discover-top">
                        <div class="col-9 discover-top-toolbar">
                            <select class="form-control mr-sm-2 w-100" id="preferredLang">
                                <option value="">{{ "Preferred Language"|trans }}</option>
                                <option value="en">{{ "English"|trans }}</option>
                                <option value="de">{{ "German"|trans }}</option>
                            </select>
                            <!--
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle discover-dropdown-btn" type="button" id="prefLangDropDown" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ "Preferred Language"|trans  }}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="prefLangDropDown">
                            <li><a class="dropdown-item" href="#">{{ "English"|trans }}</a></li>
                            <li><a class="dropdown-item" href="#">{{ "German"|trans }}</a></li>
                        </ul>
                    </div>
                            -->
                            <input class="smartsearch-btn ms-auto d-flex btn btn-root-topbar-grey btn-root-topbar-grey-text" data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="{{ "Full text Search"|trans }}">

                            <img src="{{arche_tooltip_ico}}" class="tooltip-icon">

                        </div>
                        <div class="col-3">
                            <button type="button" class="ms-auto d-flex btn btn-arche-blue" id="mapToggleBtn">{{ "Map"|trans }}</button>
                            <div class="arche-sms-popup"  id="mapContainer" style="display: none;">
                                {{ include(arche_core_gui_path ~ '/templates/smartsearch/map.html.twig' ) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid basic-content-div discover-content-main">

                <div class="row smartsearch-pager">
                    <div id="block-mainpagesearchtools" class="col-block col-lg-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 arche-smartsearch-page-div" style="display: none;">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="form-outline">
                                                <span id="smartSearchCount"></span>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="discover-pager dataTables_paginate paging_simple_numbers">
                                                <a href="#" class="paginate_button previous disabled"><</a>
                                                <span class="search-paging-numbers">
                                                    <a href="#" class="paginate_button current">1</a>
                                                </span>
                                                <a href="#" class="paginate_button next disabled">></a>


                                                <div class="input-group  mr-sm-2">
                                                    <select class="form-control" id="smartPage">
                                                        <option value="0" selected="selected">1</option>
                                                    </select>
                                                    <div class="input-group-append">
                                                        <div class="input-group-text" id="pageCount">/ 1</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-outline">        
                                                <select class="form-control mr-sm-2 w-100" id="smartPageSize">
                                                    <option value="10">10</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-outline">        
                                                <div class="input-group  mr-sm-2 w-100">
                                                    <select class="form-control" id="smartOrder" >
                                                        <option value="titleasc" selected="selected">{{ "Title ASC"|trans }}</option>
                                                        <option value="titledesc" >{{ "Title DESC"|trans }}</option>
                                                        <option value="avdateasc" >{{ "Available Date ASC"|trans }}</option>
                                                        <option value="avdatedesc" >{{ "Available Date DESC"|trans }}</option>
                                                    </select>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="row main-content-row">
                    <table class="root-table table row-border" cellspacing="0" width="100%" id='rootDT'>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
