{% set moduleDir = "{{ arche_core_gui_path }}" %}
<input type="hidden" value="{{ identifier }}" id="resId"/>

<div class="container">
    <div class="row">
        <div class="col-lg-9 metadata-breadcrumb" >
            HOME / COllection / SubCollection
        </div>
        <div class="col-lg-3 metadata-expert"  >
            <a class="ms-auto d-flex btn btn-arche-blue basic" href="#" id="expertViewBtn">{{ "Expert view"|trans }}</a>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-lg-9 metadata-main basic-content-div" >
            <div class="loader-overlay metadata-main-loader">
                <div class="loader"></div>
            </div>

            <div class="container-fluid" id="expertdt-container">
                <div class="row expert-dt-div">
                    <div class="col-lg-12">
                        {{ include(arche_core_gui_path ~ '/templates/metadata/expertview-dt.html.twig', {'result': data } ) }}
                    </div>
                </div>
            </div>

            <div class="container-fluid" id="meta-content-container">
                <!-- Available Date and type -->
                <div class="row">
                    <div class="col-lg-6">
                        <p >{{ "Available since"|trans }} {{ data.getAvailableDate() }}</p>
                    </div>
                    <div class="col-lg-6 flex-gap-col flex-reverse" >
                        {% if data.getAcdhType %}
                            <img src="{{arche_tooltip_ico}}" class="tooltip-icon"> 
                            <a href='#' class="btn btn-arche-grey" >{{ data.getAcdhType() }}</a> 
                        {% endif %}
                    </div>
                </div>

                <!-- Title -->
                <div class="row">
                    <div class="col-lg-12 " id="ad-hasTitle">
                        <hr style="color:#e1edf3;">
                        <h4 id="av-hasTitle">{{ data.getTitle() }}</h4>
                    </div>
                </div>
                <!-- CITE BLOCK -->
                <div class="row">
                    <div class="col-lg-12 ">
                        <h5>{{ "Cite Resource"|trans  }}</h5>
                        <div class="basic-inside-content-div">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williams burg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamc atcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                                </div>
                                <div class="col-lg-12">
                                    <div class="container">
                                        <div class="row justify-content-end">
                                            <div class="col-auto">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Dropdown button
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-auto">
                                                <a href="#" class="ms-auto btn btn-arche-blue">{{ "Copy"|trans }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SUMMARY -->

                {% if data.getAcdhType()|lower != 'person'  %} 
                    <div class="row" id="ad-summary">
                        <div class="col-lg-12 ">
                            <h5>{{ "Summary"|trans }}</h5>
                        </div>
                        {{ include(arche_core_gui_path ~ '/templates/metadata/summary-block.html.twig', {'result': data } ) }}
                    </div>
                {% endif %}

                <div class="row" id="ad-custom properties">
                    <div class="col-lg-12 ">
                        <h5>{{ "Custom Properties"|trans }}</h5>
                    </div>
                    <div class="col-lg-12 " id="av-custom properties">

                        {% if data.getAcdhType()|lower == 'person'  %}
                            person
                            {{ include(arche_core_gui_path ~ '/templates/metadata/person-block.html.twig', {'result': data } ) }}
                        {% elseif data.getAcdhType()|lower == 'project' %}
                            project
                            {{ include(arche_core_gui_path ~ '/templates/metadata/project-block.html.twig', {'result': data  } ) }}
                        {% elseif data.getAcdhType()|lower == 'organisation' %}
                            organisation
                            {{ include(arche_core_gui_path ~ '/templates/metadata/organisation-block.html.twig', {'result': data  } ) }}
                        {% elseif data.getAcdhType()|lower == 'place' %}
                            place
                            {{ include(arche_core_gui_path ~ '/templates/metadata/place-block.html.twig', {'result': data } ) }}
                        {% elseif data.getAcdhType()|lower == 'publication' %}
                            publication
                            {{ include(arche_core_gui_path ~ '/templates/metadata/publication-block.html.twig', {'result': data } ) }} 
                        {% elseif data.getSkosType()|lower == 'concept' %}
                            conecpt
                            {{ include(arche_core_gui_path ~ '/templates/metadata/concept-block.html.twig', {'result': data } ) }}      
                        {% elseif data.getSkosType()|lower == 'conceptscheme' %}
                            conecptscheme
                            {{ include(arche_core_gui_path ~ '/templates/metadata/conceptscheme-block.html.twig', {'result': data } ) }}          
                        {% else  %}
                            basic
                            {{ include(arche_core_gui_path ~ '/templates/metadata/basic-block.html.twig', {'result': data } ) }}
                        {% endif %}
                    </div>
                </div>

                <!-- Child elements -->
                <div class="row basic-inside-content-div child-elements-div">
                    <div class="col-lg-12 ">
                        <h5>{{ "Child Resources"|trans }}</h5>
                    </div>
                    <div class="col-lg-12 ">
                        <div class="basic-inside-content-div" id="childDtDiv">
                            <table class="child-table table row-border" cellspacing="0" width="100%" id='childDT'>
                                <div style="font-size: 14px; font-weight: bold;">
                                    <label>{{ "Order the result by"|trans }}:</label>
                                    <select name="sortBy" id="sortBy" class="form-control form-control-sm">
                                        <option value="1-0">{{ "Title (ASC)"|trans }}</option>        
                                        <option value="1-1">{{ "Title (DESC)"|trans }}</option>           
                                    </select>
                                </div>
                                <br>
                               
                                <tbody>
                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-lg-3 metadata-right" >
            <!-- 
            <div class="loader-overlay metadata-right-loader">
                <div class="loader"></div>
            </div>
            -->

            {{ include(arche_core_gui_path ~ '/templates/blocks/titleimage-block.html.twig', {'data': data.getTitleImageUrl() } ) }}

            {% if data.getMapType()|lower == 'polygon'  %}
                {{ include(arche_core_gui_path ~ '/templates/blocks/map-card-block.html.twig', {'data': data.getPolygonFirstCoordinate() } ) }}
            {% elseif data.getMapType()|lower == 'multipolygon' %}
                {{ include(arche_core_gui_path ~ '/templates/blocks/map-card-block.html.twig', {'data': data.getMultiPolygonFirstCoordinate() } ) }}
            {% endif %}    

            {% if data.getPid()  %}
                {{ include(arche_core_gui_path ~ '/templates/blocks/pid-card-block.html.twig', {'data': data.getPid() } ) }}
            {% endif %}    

            {% if data.getLicenseData()|length > 0 %}
                {{ include(arche_core_gui_path ~ '/templates/blocks/licenses-card-block.html.twig', {'obj': data.getLicenseData() } ) }}
            {% endif %}    

            {% if data.getSourceData()|length > 0  %}
                {{ include(arche_core_gui_path ~ '/templates/blocks/source-card-block.html.twig', {'data': data.getSourceData() } ) }}
            {% endif %}        

            {% if data  %}
                {{ include(arche_core_gui_path ~ '/templates/blocks/download-card-block.html.twig', {'data': data } ) }}    
            {% endif %}

            {% if data  %}
                {{ include(arche_core_gui_path ~ '/templates/blocks/view-share-card-block.html.twig', {'data': data } ) }}
            {% endif %}

            {% if data  %}
                {{ include(arche_core_gui_path ~ '/templates/blocks/versions-card-block.html.twig', {'data': data } ) }}
            {% endif %}
        </div>
    </div>
</div>
