{% set moduleDir = "{{ arche_core_gui_path }}" %}

<div class="container">
    <div class="row">
        <div class="col-lg-9 metadata-breadcrumb" >
            HOME / COllection / SubCollection
        </div>
        <div class="col-lg-3 metadata-expert"  >
            <a class="btn btn-arche-blue" href="#" id="expertView">{{ "Expert view"|trans }}</a>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-lg-9 metadata-main basic-content-div" >
            MAIN
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 ">
                        Available date
                    </div>
                    <div class="col-lg-6 ">
                        rdf:type
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-12 ">
                        <h3>Title</h3>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-12 ">
                       CITATION
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-lg-3 metadata-right" >
            
            {{ include(arche_core_gui_path ~ '/templates/blocks/titleimage-block.html.twig', {'data': data } ) }}
            
            {{ include(arche_core_gui_path ~ '/templates/blocks/map-card-block.html.twig', {'data': data } ) }}
            
            {{ include(arche_core_gui_path ~ '/templates/blocks/pid-card-block.html.twig', {'data': data } ) }}
            
            {{ include(arche_core_gui_path ~ '/templates/blocks/licenses-card-block.html.twig', {'data': data } ) }}
            
            {{ include(arche_core_gui_path ~ '/templates/blocks/source-card-block.html.twig', {'data': data } ) }}
            
            {{ include(arche_core_gui_path ~ '/templates/blocks/download-card-block.html.twig', {'data': data } ) }}
            
            {{ include(arche_core_gui_path ~ '/templates/blocks/view-share-card-block.html.twig', {'data': data } ) }}
            
            {{ include(arche_core_gui_path ~ '/templates/blocks/versions-card-block.html.twig', {'data': data } ) }}
              
        </div>
    </div>
</div>
