{% set moduleDir = "{{ arche_core_gui_path }}" %}
<input type="hidden" value="{{ identifier }}" id="resId"/>

<div class="container pt-3">
    <div class="row">
        <div class="col-lg-9 metadata-breadcrumb" >
        </div>
        <div class="col-lg-3 metadata-expert"  >
            <a class="ms-auto d-flex btn btn-arche-blue basic" href="#" id="expertViewBtn">{{ "Expert view"|trans }}</a>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-lg-9 metadata-main basic-content-div" >
            <div class="loader-overlay metadata-main-loader">
                <div class="loader"></div>
            </div>

            <div class="container-fluid" id="expertdt-container">
                <div class="row expert-dt-div">
                    <div class="col-lg-12">
                        {{ include(arche_core_gui_path ~ '/templates/metadata/expertview-dt.html.twig', {'result': data } ) }}
                    </div>
                </div>
            </div>

            <div class="container-fluid" id="meta-content-container">
                <!-- Available Date and type -->
                <div class="row">
                    <div class="col-6">
                        <p class="mb-0">{{ "Available since"|trans }} {{ data.getAvailableDate() }}</p>
                    </div>
                    <div class="col-6 flex-gap-col flex-reverse mb-0" >
                        {% if data.getAcdhType %}
                            <img src="{{arche_tooltip_ico}}" class="tooltip-icon"> 
                            <p class="btn-detail-type-gray no-btn" >{{ data.getAcdhType() }}</p> 
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="alert alert-danger d-flex align-items-center hidden-alert" role="alert" id="metadata-versions-alert">
                            <div>
                                {{ "The resource has a newer version!"|trans }} <a href="#" id="metadata-versions-alert-url">{{ "Click here for the newer version"|trans  }}</a>
                            </div>
                        </div>
                        <hr class="meatdata-view-top-hr">
                    </div>
                </div>
                <!-- Title -->
                <div class="row">
                    <div class="col-lg-12 " id="ad-hasTitle">
                        <h4 id="av-hasTitle">{{ data.getTitle() }}</h4>
                    </div>
                </div>

                <!-- CITE BLOCK -->
                {% if data.getAcdhType()|lower == 'topcollection' or data.getAcdhType()|lower == 'collection' or  data.getAcdhType()|lower == 'resource' or  data.getAcdhType()|lower == 'metadata' %}

                    <div class="row">
                        <input type="hidden" id="biblaTexUrl" value="{{ data.getBiblatexUrl() }}" />
                        <div class="col-lg-12 ">
                            {% if data.getAcdhType()|lower == 'topcollection' or data.getAcdhType()|lower == 'collection' %}
                                <h5>{{ "Cite Collection"|trans  }}</h5>
                            {% elseif data.getAcdhType()|lower == 'resource' %}
                                <h5>{{ "Cite Resource"|trans  }}</h5>
                            {% endif %}
                            <div class="basic-inside-content-div" id="cite-main-div">
                                <div id="cite-loader">
                                    <center><div class="loader-cite"></div></center>
                                </div>
                                <div class="row mt-4">

                                    <div class="col-lg-12 hidden" id="cite-div"> 

                                        <div class="row">
                                            <div class="col-lg-12 hidden"  id='cite-content-div'>
                                            </div>
                                            <figure class="highlight" id="cite-content-figure"></figure>
                                            <div class="col-lg-12">
                                                <div class="container">
                                                    <div class="row justify-content-end">
                                                        <div class="col-auto">
                                                            <div class="cite-selector" id="cite-selector-div"></div>
                                                            <div id="dropdown-container">
                                                                <select id="cite-dropdown" class="btn btn-secondary dropdown-toggle">
                                                                </select>
                                                            </div>

                                                        </div>
                                                        <div class="col-auto">
                                                            <a href="#" class="ms-auto btn btn-arche-blue cite" id="copyCite">{{ "Copy"|trans }}</a><br>
                                                            <span id="copy-cite-btn-confirmation">{{ "Citation information copied"|trans }}!</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                {% endif%}

                <!-- SUMMARY -->
                <div class="row" id="ad-summary">
                    <div class="col-lg-12 ">
                        <h5>{{ "Summary"|trans }}</h5>
                    </div>
                    {{ include(arche_core_gui_path ~ '/templates/metadata/summary-block.html.twig', {'result': data } ) }}
                </div>
                <!-- SEE ALSO -->
                {% if data.getData('acdh:hasUrl') or data.getData('acdh:hasRelatedProject') %}
                    <div class="row" id="ad-see-also">
                        <div class="col-lg-12 ">
                            <h5>{{ "See Also"|trans }}</h5>
                        </div>
                        <div class="col-lg-12 " id="av-summary">
                            <ul>
                                {% if data.getData('acdh:hasUrl') %}
                                    <li>
                                        {{ include(arche_core_gui_path ~ '/templates/helper/helper-displayFields.html.twig', 
                                     {'data': data.getData('acdh:hasUrl'), 'label':  'URL' } ) }}
                                    </li>
                                {% endif %}
                                {% if data.getData('acdh:hasRelatedProject') %}
                                    <li>
                                        {{ include(arche_core_gui_path ~ '/templates/helper/helper-displayFields.html.twig', 
                                     {'data': data.getData('acdh:hasRelatedProject'), 'label':  'Related Project' } ) }}
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>     
                {% endif %}


                <ul class="nav nav-tabs" id="arche-detail-tabs">
                    <li class="nav-item" id="collection-content-tab">
                        <a class="nav-link active"  data-bs-toggle="tab" href="#collection-content-tab-content">{{ "Collection Content"|trans }}</a>
                    </li>     
                    <li class="nav-item" id="associated-publications-tab">
                        <a class="nav-link"  data-bs-toggle="tab" href="#associated-publications-tab-content">{{ "Associated Publications"|trans }}</a>
                    </li>                    
                    <li class="nav-item" id="associated-coll-res-tab">
                        <a class="nav-link"  data-bs-toggle="tab" href="#associated-coll-res-tab-content">{{ "Associated Collections and Resources"|trans }}</a>
                    </li>

                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane container active" id="collection-content-tab-content">
                        <!-- Collection Contents -->
                        <div class="row basic-inside-content-div child-elements-div">
                            <div class="col-lg-12 child-tree-div">
                                <div id="child-tree" class="tree-view-container"></div>
                            </div>

                            <!--
                            <div class="col-lg-12 ">
                                <div class="basic-inside-content-div" id="childDtDiv">
                                    <table class="child-table table row-border" cellspacing="0" width="100%" id='childDT'>
                                        <div style="font-size: 14px; font-weight: bold;">
                                            <label>{{ "Order the result by"|trans }}:</label>
                                            <select name="sortBy" id="sortBy" class="form-control form-control-sm">
                                                <option value="1-0">{{ "Title (ASC)"|trans }}</option>        
                                                <option value="1-1">{{ "Title (DESC)"|trans }}</option>           
                                            </select>
                                        </div>
                                        <br>
        
                                        <tbody>
                                        </tbody>
                                    </table>
        
        
                                </div>
                            </div>-->
                        </div>

                    </div>
                    <div class="tab-pane container fade" id="associated-publications-tab-content">
                        <div class="row basic-inside-content-div publications-elements-div">

                            <div class="col-lg-12 publications-table-div">
                                <table class="publications-table table row-border" cellspacing="0" width="100%" id='publicationsDT'>
                                    <thead>
                                        <tr>
                                            <th>{{ "Citation"|trans }}</th>
                                            <th>{{ "Relation Type"|trans }}</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane container fade" id="associated-coll-res-tab-content">
                        <div class="row basic-inside-content-div rcr-elements-div">
                            <div class="col-lg-12 ">

                            </div>
                            <div class="col-lg-12 rcr-table-div">
                                <table class="rcr-table table row-border" cellspacing="0" width="100%" id='rcrDT'>
                                    <thead>
                                        <tr>
                                            <th>{{ "Title"|trans }}</th>
                                            <th>{{ "Relation type"|trans }}</th>
                                            <th>{{ "Type"|trans }}</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>  
                    </div>
                </div>

            </div>
        </div>

        <div class="col-lg-3 metadata-right" >
            <!-- 
            <div class="loader-overlay metadata-right-loader">
                <div class="loader"></div>
            </div>
            -->

            {% if data.isTitleImage()  %}
                {{ include(arche_core_gui_path ~ '/templates/blocks/titleimage-block.html.twig', {'data': data.getTitleImageUrl() } ) }}
            {% endif %}  

            {% if data.getMapType()|lower == 'polygon'  %}
                {{ include(arche_core_gui_path ~ '/templates/blocks/map-card-block.html.twig', {'data': data.getPolygon(), 'type': 'polygon' } ) }}
            {% elseif data.getMapType()|lower == 'multipolygon' %}
                {{ include(arche_core_gui_path ~ '/templates/blocks/map-card-block.html.twig', {'data': data.getPolygon(), 'type': 'multipolygon' } ) }}
            {% elseif data.getMapType()|lower == 'coordinates' %}
                {{ include(arche_core_gui_path ~ '/templates/blocks/map-card-block.html.twig', {'data': data.getCoordinates(), 'type': 'coordinates' } ) }}
            {% endif %}    


            {% if data.getPidOrAcdhIdentifier()  %}
                {{ include(arche_core_gui_path ~ '/templates/blocks/pid-card-block.html.twig', {'data': data.getPidOrAcdhIdentifier() } ) }}
            {% endif %}    

            {% if data.getLicenseData()|length > 0 %}
                {{ include(arche_core_gui_path ~ '/templates/blocks/licenses-card-block.html.twig', {'obj': data.getLicenseData() } ) }}
            {% endif %}    

            {% if data.getCreditsData()|length > 0  %}
                {{ include(arche_core_gui_path ~ '/templates/blocks/credits-card-block.html.twig', {'data': data.getCreditsData() } ) }}
            {% endif %}     

            {% if data  %}
                {{ include(arche_core_gui_path ~ '/templates/blocks/download-card-block.html.twig', {'data': data } ) }}    
            {% endif %}

            {% if data  %}

                {{ include(arche_core_gui_path ~ '/templates/blocks/view-share-card-block.html.twig', {'data': data } ) }} 

            {% endif %}

            {% if data.hasVersion  %}
                {{ include(arche_core_gui_path ~ '/templates/blocks/versions-card-block.html.twig', {'data': data } ) }}
            {% endif %}

            <!-- TOP COLLECTION / COLLECTION -->
            {% if data.getAcdhType()|lower == 'topcollection' or data.getAcdhType()|lower == 'collection' %}
                {% if data.getCollectionTechnicalData()|length > 0  %}
                    {{ include(arche_core_gui_path ~ '/templates/blocks/collection-technical-card-block.html.twig', {'data': data.getCollectionTechnicalData() } ) }}
                {% endif %}   
            {% endif %}   

            <!-- RESOURCE / METADATA -->
            {% if data.getAcdhType()|lower == 'resource' or data.getAcdhType()|lower == 'metadata' %}
                {% if data.getResMetaTechnicalData()|length > 0  %}
                    {{ include(arche_core_gui_path ~ '/templates/blocks/res-meta-technical-card-block.html.twig', {'data': data.getResMetaTechnicalData() } ) }}
                {% endif %}   
            {% endif %}   
        </div>
    </div>
</div>
